@import "./_layout";

.contactSection {
  position: relative;
  display: flex;
  padding: 2.5rem;
  gap: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  align-self: stretch;
  height: 100%;
  box-sizing: border-box;
  // cursor: none;

  @include for-phone-only {
    padding: 1.5rem;
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    .left {
      display: flex;
      max-width: 25rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      .contactTitle {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.04rem;
        text-transform: lowercase;
        z-index: 7;
      }

      .contactMessage {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        text-transform: lowercase;
        z-index: 7;
      }
    }

    .right {
      display: flex;
      max-width: 25rem;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      @include for-phone-only {
        display: none;
      }
    }
  }

  .contactMiddle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: -2.5rem;
    align-self: stretch;
    box-sizing: border-box;

    .callToAction {
      color: var(--primary, #0f0);
      text-align: right;
      font-family: Fixedsys 62;
      font-size: 7.5rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: lowercase;
      z-index: 7;

      &:nth-child(1) {
        margin-bottom: -2rem;
      }

      @include for-phone-only {
        font-size: 4rem;
        line-height: 6rem;
      }

      @include for-small-phone-only {
        font-size: 3rem;
      }
    }
  }

  .contactBottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;

    .left {
      display: flex;
      max-width: 25rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      @include for-small-phone-only {
        display: none;
      }

      .designTag {
        color: var(--black-0, #999);
        text-align: right;
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        text-transform: lowercase;
        z-index: 7;

        .link {
          color: var(--black-0, #999);
        }

        @include for-phone-only {
          display: none;
        }
      }
    }

    .right {
      display: flex;
      max-width: 25rem;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      @include for-small-phone-only {
        flex-direction: column;

        // max-width: none;
        // width: 100%;
        justify-content: center;
        align-items: center;
      }

      .menuItem {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.04rem;
        text-transform: lowercase;
        text-decoration: none;
        z-index: 7;
      }
    }
  }
}
