@import "./_layout";

.pageHeaderWrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: var(--bar);
  padding: 0 2.5rem;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2 * var(--frame));
  border-bottom: 0.063rem solid var(--black-75, #222);

  @include for-phone-only {
    padding: 0 1.5rem;
  }
}

.headerSection {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  &:nth-child(2) {
    @include for-phone-only {
      display: none;
    }
  }
  &:nth-child(3) {
    display: none;
    @include for-phone-only {
      display: flex;
    }
  }
}

.logoName {
  @include fixedsys(1rem, normal);
  color: var(--black-0, #999);
  letter-spacing: 0.03rem;
  text-transform: lowercase;
  text-decoration: none;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.5em;

  @include for-phone-only {
    display: none;
  }
}

.statusText {
  @include fixedsys(0.75rem, normal);
  color: var(--black-25, #666);
  letter-spacing: 0.03rem;
  text-transform: lowercase;
}

.statusIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .statusIcon {
    width: 0.609rem;
    height: 0.609rem;
    border-radius: 50%;
    background-color: var(--primary, #0f0);
  }
}

.soundToggle,
.themeToggle {
  @include icon-button;
}
