@import "./_layout";

.pageHeaderWrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: 5rem;
  padding: 2.5rem;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 8rem);
  border-bottom: 0.063rem solid var(--black-75, #222);

  @include for-phone-only {
    height: 2.5rem;
    padding: 1.5rem;
  }
}

.headerSection {
  display: flex;
  align-items: center;
  gap: 2.5rem;

  &:nth-child(2) {
    @include for-phone-only {
      display: none;
    }
  }
}
.logoName {
  color: var(--black-0, #999);
  font-family: Fixedsys 62;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-transform: lowercase;
}
.status {
  display: flex;
  align-items: center;
  gap: 0.5em;

  @include for-phone-only {
    display: none;
  }
}
.statusText {
  color: var(--black-25, #666);
  font-family: Fixedsys 62;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-transform: lowercase;
}
.statusIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .statusIcon {
    width: 0.609rem;
    height: 0.609rem;
    border-radius: 50%;
    background-color: #00ff00;
  }
}

.languageText {
  color: var(--black-0, #999);
  font-family: Fixedsys 62;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-transform: lowercase;
  cursor: pointer;
}

.line {
  width: 3rem;
  height: 0.063rem;
  stroke-width: 0.063rem;
  stroke: var(--black-25, #666);
  background-color: #666666;
}
