@import "./_layout";

.heroSection {
  position: relative;
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  // justify-content: space-between;
  width: 100%;
  align-self: stretch;
  height: 100%;
  min-height: calc(100vh - 5rem);
  box-sizing: border-box;
  //   cursor: none;

  @include for-phone-only {
    padding: 1.5rem;
  }

  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    .left {
      display: flex;
      max-width: 25rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      .introText {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        text-transform: lowercase;
        z-index: 7;
      }

      .hireMeText {
        color: var(--primary, #0f0);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.04rem;
        text-transform: lowercase;
        z-index: 7;
      }
    }

    .right {
      display: flex;
      max-width: 25rem;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      @include for-phone-only {
        display: none;
      }

      .menuItem {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.04rem;
        text-transform: lowercase;
        text-decoration: none;
        z-index: 7;
      }
    }
  }

  .introductionBottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: -2.5rem;
    align-self: stretch;
    box-sizing: border-box;

    @include for-phone-only {
      align-items: flex-start;
    }

    .name {
      color: var(--black-50, #333);
      text-align: center;
      font-family: Fixedsys 62;
      font-size: 8.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: lowercase;
      z-index: 7;
      box-sizing: border-box;

      &:nth-child(1) {
        margin-bottom: -2rem;
      }
      &:nth-child(2) {
        margin-bottom: -1.625rem;
      }

      @include for-phone-only {
        font-size: 3.5rem;
        line-height: 5.5rem;
      }
    }

    .role {
      color: var(--black-25, #666);
      text-align: center;
      font-family: Fixedsys 62;
      font-size: 8.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: lowercase;
      z-index: 7;
      margin-bottom: -1.625rem;
      box-sizing: border-box;

      @include for-phone-only {
        font-size: 3.5rem;
        line-height: 5.5rem;
      }
    }

    .scrollSvg {
      position: absolute;
      z-index: 7;
      top: 80%;
      left: 0%;

      @include for-phone-only {
        display: none;
      }
    }
  }
}
