.heroSection {
  position: relative;
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  align-self: stretch;
  height: 100%;
  box-sizing: border-box;
  cursor: none;

  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    .left {
      display: flex;
      max-width: 400px;
      flex-direction: column;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;

      .introText {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        text-transform: lowercase;
        z-index: 7;
      }

      .hireMeText {
        color: var(--primary, #0f0);
        font-family: Fixedsys 62;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: 0.64px;
        text-transform: lowercase;
        z-index: 7;
      }
    }

    .right {
      display: flex;
      max-width: 400px;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 24px;
      flex: 1 0 0;

      .menuItem {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        letter-spacing: 0.64px;
        text-transform: lowercase;
        z-index: 7;
      }
    }
  }

  .introductionBottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: -40px;
    align-self: stretch;
    box-sizing: border-box;

    .name {
      color: var(--black-50, #333);
      text-align: center;
      font-family: Fixedsys 62;
      font-size: 120px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: lowercase;
      z-index: 7;
    }

    .role {
      color: var(--black-25, #666);
      text-align: center;
      font-family: Fixedsys 62;
      font-size: 120px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: lowercase;
      z-index: 7;
    }

    .scrollSvg {
      position: absolute;
      z-index: 7;
      top: 80%;
      left: 0%;
    }
  }
}
