@import "./_layout";

.heroSection {
  position: relative;
  display: flex;
  padding: 2.5rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  align-self: stretch;
  height: 100%;
  // min-height: calc(100vh - 5rem);
  box-sizing: border-box;
  //   cursor: none;

  @include for-phone-only {
    padding: 1.5rem;
  }

  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    .left {
      display: flex;
      max-width: 25rem;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      .typewriterEffectWrapper {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
      }

      .cursorBlinker {
        position: absolute;
        top: 80%;
        left: 100%;
        width: 0.5rem;
        height: 0.031rem;
        background: var(--primary, #0f0);
        opacity: 0;
        z-index: 7;
      }

      .introText {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        text-transform: lowercase;
        z-index: 7;
      }

      .hireMeText {
        color: var(--primary, #0f0);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.04rem;
        text-transform: lowercase;
        z-index: 7;
      }
    }

    .right {
      display: flex;
      max-width: 25rem;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 1.5rem;
      flex: 1 0 0;

      @include for-phone-only {
        display: none;
      }

      .menuItem {
        color: var(--black-0, #999);
        font-family: Fixedsys 62;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5rem; /* 150% */
        letter-spacing: 0.04rem;
        text-transform: lowercase;
        text-decoration: none;
        z-index: 7;
        opacity: 0;
      }
    }
  }

  .introductionBottom {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: -2.5rem;
    align-self: stretch;
    box-sizing: border-box;

    @include for-phone-only {
      align-items: flex-start;
    }

    .name {
      color: var(--black-50, #333);
      text-align: center;
      font-family: Fixedsys 62;
      font-size: 8.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: lowercase;
      z-index: 7;
      box-sizing: border-box;
      opacity: 0;

      &:nth-child(1) {
        margin-bottom: -2.1rem;
      }
      &:nth-child(2) {
        margin-bottom: -1.625rem;
      }

      @include for-phone-only {
        font-size: 3.5rem;
        line-height: 5.5rem;
      }
    }

    .role {
      color: var(--black-25, #666);
      text-align: center;
      font-family: Fixedsys 62;
      font-size: 8.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: lowercase;
      z-index: 7;
      margin-bottom: -1.625rem;
      box-sizing: border-box;
      opacity: 0;

      @include for-phone-only {
        font-size: 3.5rem;
        line-height: 5.5rem;
      }
    }

    .animatedScrollIcon {
      opacity: 0;
      position: absolute;
      z-index: 7;
      top: 80%;
      left: 0%;
      display: flex;
      width: 18px;
      height: 47px;
      padding: 16px;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      border-radius: 27px;
      border: 1px solid var(--black-25, #666);

      @include for-phone-only {
        display: none;
      }
      @include for-tablet-portait-only {
        display: none;
      }
      @include for-tablet-landscape-small-only {
        display: none;
      }

      .ellipseOne {
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        border-radius: 16px;
        background: var(--black-25, #666);
      }
    }
  }
}
