@import "./_layout";

.link {
  @include fixedsys;
  color: var(--black-0, #999);
  letter-spacing: 0.04rem;
  text-transform: lowercase;
  cursor: pointer;

  .status {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  .statusText {
    @include fixedsys(0.75rem, normal);
    color: var(--black-25, #666);
    letter-spacing: 0.03rem;
    text-transform: lowercase;
  }
  .statusIconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .statusIcon {
      width: 0.609rem;
      height: 0.609rem;
      border-radius: 50%;
      background-color: var(--primary, #0f0);
    }
  }
}
