@import "./_layout";

.pageWrapperBackground {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  background: var(--black-100, #111);
}

.pageLoadingWrapperBackground {
  position: relative;
  display: flex;
  width: auto;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  background: var(--black-100, #111);
}

.pageWrapperTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  z-index: 8;
}
.pageWrapperBottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  z-index: 8;
}
.pageWrapperMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  height: auto;
}
.pageLoadingWrapperMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  height: 100%;
}
.pageWrapperMainChildren {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 8rem);
  align-self: stretch;
  height: auto;
}

.pageWrapperTopRightGrid {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.063rem solid var(--black-75, #222);
  border-left: 0.063rem solid var(--black-75, #222);
  @include for-phone-only {
    // width: 2.5rem;
    height: 2.5rem;
    padding: 1.5rem;
  }
}

.pageWrapperBottomRightGrid {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.063rem solid var(--black-75, #222);
  border-left: 0.063rem solid var(--black-75, #222);
  @include for-phone-only {
    // width: 2.5rem;
    height: 2.5rem;
    padding: 1.5rem;
  }
}

.pageWrapperTopLeftGrid {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.063rem solid var(--black-75, #222);
  border-bottom: 0.063rem solid var(--black-75, #222);

  @include for-phone-only {
    // width: 2.5rem;
    height: 2.5rem;
    padding: 1.5rem;
  }
}
.pageWrapperBottomLeftGrid {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 4rem;
  height: 4rem;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.063rem solid var(--black-75, #222);
  border-right: 0.063rem solid var(--black-75, #222);

  @include for-phone-only {
    // width: 2.5rem;
    height: 2.5rem;
    padding: 1.5rem;
  }
}

.pageWrapperRightPadding {
  position: relative;
  display: flex;
  width: 4rem;
  height: auto;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  gap: 2.5rem;
  align-self: stretch;
  box-sizing: border-box;
  border-left: 0.063rem solid var(--black-75, #222);
}

.pageWrapperLeftPadding {
  position: relative;
  display: flex;
  width: 4rem;
  height: auto;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  gap: 2.5rem;
  align-self: stretch;
  box-sizing: border-box;
  border-right: 0.063rem solid var(--black-75, #222);
}
.pageWrapperLeftPadding,
.pageWrapperRightPadding {
  @include for-phone-only {
    width: 2.5rem;
    padding: 1.5rem;
  }
}
.pageWrapperTopPadding {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: 4rem;
  padding: 2.5rem;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 8rem);
  border-bottom: 0.063rem solid var(--black-75, #222);
  @include for-phone-only {
    height: 2.5rem;
    padding: 1.5rem;
  }
}
.pageWrapperBottomPadding {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: 4rem;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 8rem);
  border-top: 0.063rem solid var(--black-75, #222);
  @include for-phone-only {
    height: 2.5rem;
    padding: 1.5rem;
  }
}

.pageWrapperTopRightGrid,
.pageWrapperBottomRightGrid,
.pageWrapperTopLeftGrid,
.pageWrapperBottomLeftGrid,
.pageWrapperRightPadding,
.pageWrapperLeftPadding,
.pageWrapperTopPadding,
.pageWrapperBottomPadding {
  z-index: 8;
}
