@import "./_layout";

.pageWrapperBackground {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  flex-direction: column;
  align-items: center;
  background: var(--black-100, #111);
}

.pageLoadingWrapperBackground {
  position: relative;
  display: flex;
  width: auto;
  height: 100vh;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  background: var(--black-100, #111);
}

.pageWrapperTop {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  z-index: 8;
}
.pageWrapperBottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  z-index: 8;
}
.pageWrapperMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  height: auto;
}
.pageLoadingWrapperMain {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  height: 100%;
}
.pageWrapperMainChildren {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(100% - 2 * var(--frame));
  align-self: stretch;
  height: auto;
}

.pageWrapperTopRightGrid {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: var(--frame);
  height: var(--bar);
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.063rem solid var(--black-75, #222);
  border-left: 0.063rem solid var(--black-75, #222);
}

.pageWrapperBottomRightGrid {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: var(--frame);
  height: var(--bar);
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.063rem solid var(--black-75, #222);
  border-left: 0.063rem solid var(--black-75, #222);
}

.pageWrapperTopLeftGrid {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: var(--frame);
  height: var(--bar);
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 0.063rem solid var(--black-75, #222);
  border-bottom: 0.063rem solid var(--black-75, #222);

}
.pageWrapperBottomLeftGrid {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: var(--frame);
  height: var(--bar);
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.063rem solid var(--black-75, #222);
  border-right: 0.063rem solid var(--black-75, #222);

}

.pageWrapperRightPadding {
  position: relative;
  display: flex;
  width: var(--frame);
  height: auto;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  gap: 2.5rem;
  align-self: stretch;
  box-sizing: border-box;
  border-left: 0.063rem solid var(--black-75, #222);
}

.pageWrapperLeftPadding {
  position: relative;
  display: flex;
  width: var(--frame);
  height: auto;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  gap: 2.5rem;
  align-self: stretch;
  box-sizing: border-box;
  border-right: 0.063rem solid var(--black-75, #222);
}
.pageWrapperTopPadding {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: var(--bar);
  padding: 0;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 2 * var(--frame));
  border-bottom: 0.063rem solid var(--black-75, #222);
}
.pageWrapperBottomPadding {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: var(--bar);
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2 * var(--frame));
  border-top: 0.063rem solid var(--black-75, #222);
}

.pageWrapperTopRightGrid,
.pageWrapperBottomRightGrid,
.pageWrapperTopLeftGrid,
.pageWrapperBottomLeftGrid,
.pageWrapperRightPadding,
.pageWrapperLeftPadding,
.pageWrapperTopPadding,
.pageWrapperBottomPadding {
  z-index: 8;
}
